@font-face {
  font-family: "canela";
  src: url("./Canela-RegularItalic-Trial.otf");
}
@font-face {
  font-family: "canelaRegular";
  src: url("./Canela-Regular-Trial.otf");
}
@font-face {
  font-family: "poppins";
  src: url("./Poppins-Regular.ttf");
}
.btn-dark
{
 
  color: pink ;
  background-color:r#9a0f73;
    border-color: #d9d9d9;
    font-family: "poppins";
    font-weight: 700;
}
.btn-dark:hover {
  color: #9a0f73;
  background-color: pink;
  border-color:pink;
  font-weight: 500;
}

body{
  overflow-x: hidden;
}
.primaryText{
  text-decoration: none;
  font-size: 22px;
  font-family: "canela";
  margin-right: 5%;
  letter-spacing: 3px;
  color: #9a0f73;
  font-weight: 700;
}
.section {
  margin-top: 8%;
}
.mainHeading {
  font-family: "canela";
  color: #034849;
  font-weight: 400;
}

p {
  font-family: "poppins";
  font-size: 22px;
  line-height: 2;
  height: 13rem;
}
.header {

  font-family: "canela";
  text-align: center;

  color: #c7763f ;
}
.header .col-lg-12{
  padding: 0;
}
.header img{
  width: 100%;
}
.header .mblimg{
  display: none;
}

.header h3{
  font-family: "canelaRegular";
}

.header .logo {
  width: 70%;
}

.pinkbg{
  background-color: rgba(255, 204, 212, 0.264);
}

.newEdition {
  padding-left: 2%;
}
.newEdition .heading2{
    margin-top: 0 !important;
}

.newEdition .sideimg1 {
  width: 80%;
}
.newEdition .leftSide {
  margin-top: 8%;
 
}

.newEdition .leftSide p {
  text-align: right;
}

.newEdition .content{
  display: flex;
  justify-content: end;
}
.newEdition .sideimg2 {
  width: 60%;
  margin-top: 10%;
}
.newEdition .buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.newEdition .sideimgmbl2 {
 display: none;
}
.newEdition .mainHeading {
  font-size: 3.5rem;
  margin: 3% 0;
}
.newEdition p {
  font-size: 24px;
  line-height: 2;
  height: 17rem;
}
.img {
  display: flex;
  justify-content: flex-end;
}

.peacock {
  position: relative;
}

.peacockImg {
  bottom: 0;
  left: 0%;
  width: 15%;
  position: absolute;
 
}

/* Slider #2 */
.sliderContainer {
  padding: 5%;

  padding-bottom: 15%;
}



.slider2Container {
  padding: 2%;
  margin-top: -7%;
}
.heading {
  text-align: center;
  margin-bottom: 2%;
  color: #034849;
  font-family: "canela";
  font-size: 3.5rem;
}
.contentHeading {
  margin-left: -20px;
  text-align: left;
  font-family: "canela";
  letter-spacing: 3px;
}
.sliderContent {
  text-align: left;
  align-items: center;
}

.slider1pic {
  width: 100%;
  vertical-align: bottom;
}

.sliderContainer .carousel-control-next,
.carousel-control-prev {
  position: absolute;
  height: max-content;
  width: max-content;
  top: 100%;
}

.sliderContainer .carousel-control-next {
  left: 6%;
  opacity: 1;
}
.sliderContainer .carousel-control-prev {
  left: 2%;
  opacity: 1;
}

/* Slider #2 */
.btns {
  margin: 14%;
}

.slider2Container .carousel-control-next,
.slider2Container .carousel-control-prev {
  position: absolute;
  height: max-content;
  width: max-content;
  top: 50%;
}

.slider2Container .sliderContent {
  text-align: left;
}
.slider2Container .carousel-control-next {
  left: 6%;
  opacity: 1;
}
.slider2Container .carousel-control-prev {
  left: 3%;
  opacity: 1;
}

.slider2Container .sliderContent {
  padding-top: 10%;
}
.slider2pic {
  width: 100%;
 
}

.slider2Container .primaryText{
  margin-left: 2%;
  font-size: 28px;
}

.sliderContainer .carousel-control-next .carousel-control-next-icon,
.slider2Container .carousel-control-next .carousel-control-next-icon {
  background-image: url("../images/ra.png");
}
.sliderContainer .carousel-control-prev .carousel-control-prev-icon,
.slider2Container .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/la.png");
}

.video {
  position: relative;
  padding: 5%;
}
.videoContent {
  background-color: #d9d9d9;
  width: 100%;
  padding: 20%;
}

.video img {
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
}
.footerImg{
    z-index: 30;
}
.footerImg img {
  width: 50%;
}


.footer{
    padding: 5%;
    background-color:#ada06c;
    color: white;
    z-index: 20;
    margin-top: -3%;
}
.footer p{
    font-size: 12px;
}
.footer .links{
    display: flex;
    flex-direction: column;
}
.links a{
    text-decoration: none;
    color: white;
    margin: 1% 0;
    
}


@media screen and (min-width: 1px) and (max-width: 990px) {
  .section {
    margin-top: 20%;
  }
  p {
    font-size: 17px;
  }

  .header {
    background-image: url("../images/bgmbl.jpg");
  }
  .header .pcimg{
    display: none;
  }
  .header .mblimg{
    display: block;
  }
  .headerContent {
    padding-top: 150%;
  }
  .leftSide .sideimg1 {
    width: 100%;
  }
  .newEdition .mainHeading {
    text-align: left;
    font-size: 2.5rem;
  }
  .heading{
    text-align: left;
  }

  .newEdition p{
    font-size: 17px;
  }

  .newEdition .heading2 {
    text-align: right;
  }
  .newEdition .sideimg2 {
    display: none;
  }
  .newEdition .sideimgmbl2 {
   display: block;
   width: 100%;
  }

  .peacock .peacockImg {
    width: 43%;
    left: 55% !important;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  .leftSide {
    flex-direction: column-reverse;
  }
  /* Slider #1 */
  .slider1pic {
  display: none;
  }
  .sliderContainer .heading{
    margin-bottom: 4%;
    font-size: 2.5rem;
  }
  .sliderContainer .carousel-inner{
    height: 26rem;
  }
  .sliderImgSection{
    display: flex;
    justify-content: center;
  }
  .sliderContainer .carousel-control-next {
    left: 15%;

    width: 1.3rem !important;
    height: 0.7rem !important;

    margin: 5% 0% !important;
  }
  .sliderContainer .carousel-control-prev {
    left: 5%;
    width: 1.3rem !important;
    height: 0.7rem !important;

    margin: 5% 0% !important;
  }

  /* Slider #2 */
  .slider2Container {
    margin-top: 5%;
  }
  .contentHeading {
    font-size: 2rem;
    margin-left: 3px;
  }
  .slider2Container .container-fluid {
    padding: 0;
  }
  .btns {
    position: relative;
    margin-top: 10%;
  }

  .slider2Container .carousel-control-next,
  .slider2Container .carousel-control-prev {
    position: absolute;
    top: 0%;
  }
  .slider2Container .carousel-control-next {
    left: 20%;
    opacity: 1;
  }
  .slider2Container .carousel-control-prev {
    left: 0%;
    opacity: 1;
  }
  .slider2Row {
    flex-direction: column-reverse;
  }
  .slider2Row p {
    padding-top: 15%;
    height: 19rem;
  }
  .slider2Container .slider2pic {
    width: 100%;
  }

  .video img {
    width: 20%;
  }
  .footerImg img{
    width: 80%;
  }
  .footer{
    text-align: center;
  }
  .footerContent{
    margin-top: 5%;
  }
}


@media screen and (min-width:991) and (max-width:1037) {
 .leftSide{
  flex-direction: column !important;
 }
 
}
.middleslider{
 margin-bottom: auto;
  margin-top: auto;
  vertical-align: middle;
  align-items: center;
 }

@media screen and (min-width:1050) and (max-width:1200) {
  .slider2Container .carousel-control-next, .slider2Container .carousel-control-prev {
    position: absolute;
    top: 36% !important;
  }
}